# Por nada del mundo publicar esto, es estricto y propio, tener maximo cuidado #

SSH_HOST=ip_del_servidor
SSH_PORT=22
SSH_USER=usuario_ssh

# CLAVE SSH #

SSH_PRIVATE_KEY_BASE64=

#  MARIADB (a traves del tunnel) #
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=nombre_db
DB_USER=usuario_db
DB_PASS=clave_db

#  CONFIGURACION DEL SERVIDOR #
SERVER_PORT=3001
SESSION_SECRET=oasis_rp_s3cr3t_k3y_ch4ng3_th1s_2026

# DATOS SENSIBLES #

IP=ip_del_servidor # Si, duplicado, yo me entiendo